from .email import send_welcome_email
def news_today(request):
    if request.method == 'POST':
class UserRegisterForm(UserCreationForm):
        form = UserRegisterForm(request.POST)
        if form.is_valid():
            name = form.cleaned_data['your_name']
            email = form.cleaned_data['email']

            recipient = NewsLetterRecipients(name = name,email =email)
            recipient.save()
            send_welcome_email(name,email)

            HttpResponseRedirect('news_today')
            
    return render(request, 'email/instaemail.html', {"date": date,"news":news,"letterForm":form})

    